<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevOps</title>
</head>

<body>
    <p>Key features of devops</p>
    <ul>
        <li>Continuous Integration</li>
        <li>Continuous Deployment</li>
        <li>Continuous Monitoring</li>
        <li>Continuous Testing</li>
        <li>Continuous Delivery</li>
        <li>Continuous Deployment</li>
        <li>Continuous Monitoring</li>
    </ul>
</body>

</html>